<p>{{ user_name }},</p>

<p>There is a new comment following up yours:
  <blockquote><i>{{ comment.comment }}</i></blockquote>
  <br/>
  Sent by: {{ comment.name }}, {{ comment.submit_date|date:"SHORT_DATE_FORMAT" }}<br/> to the post <strong>{{ content_object.title }}</strong>.</p>

<p>Click on the following links to either <a href="{{ schema }}://{{ site.domain }}{{ checkout_url }}">see the comment</a> or to <a href="{{ schema }}://{{ site.domain }}{{ followup_url }}">toggle follow-up notifications</a>.</p>

<p>--<br/>
  Kind regards,<br/>
  {{ site }}</p>
